{
  "openapi": "3.1.0",
  "info": {
    "title": "Misuperprofe Tutor API",
    "version": "1.0.0",
    "description": "API para teoría, práctica, lecciones adaptativas, métricas y recomendaciones."
  },
  "servers": [
    {
      "url": "https://app.misuperprofe.com/api/v1"
    }
  ],
  "paths": {
    "/ask": {
      "post": {
        "summary": "Consulta de teoría o definición",
        "operationId": "ask",
        "tags": ["teoria"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pregunta": {"type": "string", "description": "Consulta teórica o definición"}
                },
                "required": ["pregunta"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta teórica",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "respuesta": {"type": "string", "description": "Respuesta textual a la consulta"}
                  },
                  "required": ["respuesta"]
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Teoría no encontrada"}
        }
      }
    },
    "/get_question": {
      "get": {
        "summary": "Obtener pregunta de práctica individual",
        "operationId": "getQuestion",
        "tags": ["practica"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "course", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "topic", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "chapter_id", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Pregunta de práctica",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question_id": {"type": "string"},
                    "question": {"type": "string"},
                    "options": {"type": "array", "items": {"type": "string"}},
                    "theory_content": {"type": "string"}
                  },
                  "required": ["question_id", "question", "options"]
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Pregunta no encontrada"}
        }
      }
    },
    "/log_result": {
      "post": {
        "summary": "Registrar intento de respuesta",
        "operationId": "logResult",
        "tags": ["practica"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string"},
                  "question_id": {"type": "string"},
                  "answer": {"type": "string"},
                  "is_correct": {"type": "boolean"},
                  "course": {"type": "string"},
                  "topic": {"type": "string"}
                },
                "required": ["user_id", "question_id", "answer", "is_correct", "course"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado registrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/simple_lesson/start": {
      "post": {
        "summary": "Iniciar lección simplificada",
        "operationId": "startSimpleLesson",
        "tags": ["lecciones"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string"},
                  "course": {"type": "string"}
                },
                "required": ["user_id", "course"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lección iniciada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {"type": "string"},
                    "question": {"type": "string"},
                    "options": {"type": "array", "items": {"type": "string"}},
                    "progress": {"type": "object"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/simple_lesson/answer": {
      "post": {
        "summary": "Responder pregunta de lección",
        "operationId": "answerSimpleLesson",
        "tags": ["lecciones"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {"type": "string"},
                  "answer": {"type": "string"}
                },
                "required": ["session_id", "answer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta procesada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correct": {"type": "boolean"},
                    "feedback": {"type": "string"},
                    "next_question": {"type": "object"},
                    "progress": {"type": "object"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/achievements/user/{user_id}": {
      "get": {
        "summary": "Obtener logros del usuario",
        "operationId": "getUserAchievements",
        "tags": ["gamificacion"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "user_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Logros del usuario",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {"type": "string"},
                    "total_xp": {"type": "integer"},
                    "current_streak": {"type": "integer"},
                    "longest_streak": {"type": "integer"},
                    "achievements": {"type": "array", "items": {"type": "object"}},
                    "rank": {"type": "integer"},
                    "level": {"type": "integer"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/achievements/leaderboard": {
      "get": {
        "summary": "Obtener leaderboard",
        "operationId": "getLeaderboard",
        "tags": ["gamificacion"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "league_id", "in": "query", "required": false, "schema": {"type": "string", "default": "global_weekly"}}
        ],
        "responses": {
          "200": {
            "description": "Leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "league_id": {"type": "string"},
                    "leaderboard": {"type": "array", "items": {"type": "object"}},
                    "user_rank": {"type": "integer"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/courses": {
      "get": {
        "summary": "Listar todos los cursos disponibles",
        "operationId": "listarCursos",
        "tags": ["curso"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Lista de cursos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "name": {"type": "string"},
                          "description": {"type": "string"},
                          "chapters": {"type": "integer"}
                        },
                        "required": ["id", "name", "description", "chapters"]
                      }
                    },
                    "total": {"type": "integer"}
                  },
                  "required": ["courses", "total"]
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/course/{course_name}/chapters": {
      "get": {
        "summary": "Obtener capítulos de un curso",
        "operationId": "getCourseChapters",
        "tags": ["cursos"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "course_name", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "page_size", "in": "query", "required": false, "schema": {"type": "integer", "default": 10}}
        ],
        "responses": {
          "200": {
            "description": "Lista de capítulos del curso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "course_id": {"type": "string"},
                    "course_name": {"type": "string"},
                    "chapters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "integer"},
                          "titulo": {"type": "string"},
                          "orden": {"type": "integer"},
                          "curso_id": {"type": "integer"},
                          "resumen": {"type": "string"}
                        }
                      }
                    },
                    "total_chapters": {"type": "integer"}
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Curso no encontrado"}
        }
      }
    },
    "/user_stats": {
      "get": {
        "summary": "Obtener estadísticas del usuario",
        "operationId": "getUserStats",
        "tags": ["usuario"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "user_id", "in": "query", "required": true, "schema": {"type": "string"}, "description": "El ID de usuario (ej. email) para consultar estadísticas."}
        ],
        "responses": {
          "200": {
            "description": "Estadísticas del usuario",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "xp": {"type": "integer"},
                    "accuracy": {"type": "number"},
                    "progress": {"type": "string"}
                  },
                  "required": ["xp", "accuracy", "progress"]
                }
              }
            }
          },
          "403": {"description": "Token requerido"}
        }
      }
    },
    "/tool/recomendar_plan_estudio": {
      "post": {
        "summary": "Generar plan de estudio personalizado",
        "operationId": "recomendarPlanEstudio",
        "tags": ["herramientas_mcp"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string", "description": "ID del usuario (email)"}
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan de estudio personalizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "prioridades": {"type": "array", "items": {"type": "string"}},
                        "recomendaciones": {"type": "object"},
                        "usuario": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Usuario no encontrado"}
        }
      }
    },
    "/tool/generar_grafico_metricas": {
      "post": {
        "summary": "Generar gráfico de métricas del usuario",
        "operationId": "generarGraficoMetricas",
        "tags": ["herramientas_mcp"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string", "description": "ID del usuario (email)"},
                  "tipo": {"type": "string", "description": "Tipo de gráfico (barras o radar)", "enum": ["barras", "radar"]}
                },
                "required": ["user_id"],
                "default": {"tipo": "barras"}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gráfico generado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "url": {"type": "string", "nullable": true},
                        "tipo": {"type": "string"},
                        "mensaje": {"type": "string", "nullable": true}
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Usuario no encontrado"}
        }
      }
    },
    "/tool/recomendar_plan_estudio": {
      "post": {
        "summary": "Recomendar plan de estudio personalizado",
        "operationId": "recomendarPlanEstudio",
        "tags": ["herramientas_mcp"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string", "description": "ID del usuario (email)"}
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan de estudio personalizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "prioridades": {"type": "array", "items": {"type": "string"}},
                        "recomendaciones": {"type": "object"},
                        "usuario": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {"description": "Token requerido"},
          "404": {"description": "Usuario no encontrado"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  }
}