{
  "openapi": "3.1.0",
  "info": {
    "title": "MiSuperProfe API",
    "description": "API para el tutor inteligente de MiSuperProfe",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.misuperprofe.com/api/v1"
    }
  ],
  "paths": {
    "/ask": {
      "post": {
        "operationId": "askQuestion",
        "summary": "Buscar respuesta a una pregunta",
        "description": "Busca la respuesta a una pregunta usando búsqueda semántica en el contenido disponible",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Pregunta requerida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_question": {
      "post": {
        "operationId": "getQuestion",
        "summary": "Generar pregunta de práctica",
        "description": "Genera una pregunta de práctica para un curso y capítulo específico",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pregunta generada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuestionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Curso o capítulo no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Verificar estado del servicio",
        "description": "Endpoint de health check para verificar que el servicio esté funcionando",
        "responses": {
          "200": {
            "description": "Servicio funcionando",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AskRequest": {
        "type": "object",
        "properties": {
          "pregunta": {
            "type": "string",
            "description": "La pregunta del estudiante"
          }
        },
        "required": ["pregunta"]
      },
      "AskResponse": {
        "type": "object",
        "properties": {
          "respuesta": {
            "type": "string",
            "description": "La respuesta a la pregunta"
          }
        }
      },
      "GetQuestionRequest": {
        "type": "object",
        "properties": {
          "course": {
            "type": "string",
            "description": "Nombre del curso"
          },
          "chapter_id": {
            "type": "string",
            "description": "ID del capítulo"
          }
        },
        "required": ["course", "chapter_id"]
      },
      "GetQuestionResponse": {
        "type": "object",
        "properties": {
          "pregunta": {
            "type": "string",
            "description": "La pregunta generada"
          },
          "opciones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Opciones de respuesta"
          },
          "respuesta_correcta": {
            "type": "string",
            "description": "La respuesta correcta"
          },
          "explicacion": {
            "type": "string",
            "description": "Explicación de la respuesta"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Estado del servicio"
          },
          "service": {
            "type": "string",
            "description": "Nombre del servicio"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Descripción del error"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
} 